.media-page > .media-content {
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
}

.media-page > .media-content > .section > .container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.media-page > .media-content > .section > .container > .sorting {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
}

.media-page > .media-content > .section > .container > .sorting > .filter {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.media-page > .media-content > .section > .container > .sorting > .filter > select {
    font-size: 0.725rem;
    font-weight: 500;
    color: var(--brand-color);
    cursor: pointer;
    padding: 6px 8px;
    padding-right: 24px;
}

.media-page > .media-content > .section > .container > .sorting > .filter > .icon {
    position: absolute;
    right: 6px;
    color: var(--brand-color);
    user-select: none;
    pointer-events: none;
}

.media-page > .media-content > .section > .container > .sorting > .filter > select > option {
    font-weight: 500;
    color: var(--font-color);
}
