.profiles-page {
    display: flex;
    align-items: flex-start;
    gap: 26px;
    max-width: 552px;
}

.profiles-page > .listing {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 4px;
    width: 286px;
    margin-top: -10px;
}

.profiles-page > .listing > .empty {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 -12px;
    padding: 10px 12px;
}

.profiles-page > .listing > .empty > .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--bg-color-tertiary);
}

.profiles-page > .listing > .empty > .text {
    font-size: 0.75rem;
    font-weight: 500;
}

.profiles-page > .listing > .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -12px;
    padding: 10px 12px;
    border-radius: 10px;
    transition: background-color 0.2s ease-out;
}

.profiles-page > .listing > .item:hover {
    background-color: var(--bg-color-secondary);
}

.profiles-page > .listing > .item.current {
    background-color: var(--bg-color);
}

.profiles-page > .listing > .item > .info {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    flex: 1;
    min-width: 0;
}

.profiles-page > .listing > .item > .info > .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--bg-color-tertiary);
}

.profiles-page > .listing > .item.current > .info > .avatar {
    background-color: var(--link-color);
    color: var(--font-color-inverted);
}

.profiles-page > .listing > .item > .info > .details {
    min-width: 0;
    flex: 1;
}

.profiles-page > .listing > .item > .info > .details > .name {
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profiles-page > .listing > .item.current > .info > .details > .name {
    color: var(--font-color-active);
}

.profiles-page > .listing > .item > .info > .details > .server {
    font-size: 0.725rem;
    color: var(--font-color-tertiary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profiles-page > .listing > .item.current > .info > .details > .server {
    color: var(--font-color-secondary);
}

.profiles-page > .listing > .item > .actions {
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-shrink: 0;
}

.profiles-page > .listing > .item > .actions > .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 6px;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--font-color-secondary);
    fill: var(--font-color-secondary);
    transition:
        background-color 0.2s ease-out,
        color 0.2s ease-out;
}

.profiles-page > .listing > .item > .actions > .btn:hover {
    background-color: var(--bg-color-tertiary);
    color: var(--font-color);
}

.profiles-page > .listing > .item.current > .actions > .btn:hover {
    background-color: var(--bg-color-secondary);
}

.profiles-page > .listing > .item > .actions > .btn.delete:hover {
    color: var(--font-color-error);
}

.profiles-page > .btn.profile {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--font-color-secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 6px;
    width: 240px;
    padding: 8px 10px;
    border-radius: 10px;
    background: none;
    border: 1px dashed var(--border-color);
    transition:
        color 0.2s ease-out,
        border-color 0.2s ease-out,
        background-color 0.2s ease-out;
}

.profiles-page > .btn.profile:hover {
    color: var(--font-color);
    border-color: var(--border-color-secondary);
    background-color: var(--bg-color-secondary);
}

.profiles-page > .add-profile {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 10px;
    width: 240px;
}

.profiles-page > .add-profile > input {
    font-size: 0.75rem;
    text-overflow: ellipsis;
    width: 100%;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}

.profiles-page > .add-profile > input:disabled {
    opacity: 0.6;
}

.profiles-page > .add-profile > .actions {
    display: flex;
    gap: 10px;
    margin-top: 2px;
}

.profiles-page > .add-profile > .actions > .btn {
    font-size: 0.75rem;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 14px;
    border-radius: 8px;
    transition:
        background-color 0.2s ease-out,
        opacity 0.2s ease-out;
}

.profiles-page > .add-profile > .actions > .btn.save {
    background-color: var(--btn-brand-color);
    color: var(--font-color-inverted);
    flex: 1;
}

.profiles-page > .add-profile > .actions > .btn.save:hover {
    background-color: var(--btn-brand-color-hover);
}

.profiles-page > .add-profile > .actions > .btn.save:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.profiles-page > .add-profile > .actions > .btn.cancel {
    background-color: var(--bg-color-tertiary);
}

.profiles-page > .add-profile > .actions > .btn.cancel:hover {
    background-color: var(--bg-color-secondary);
}

.profiles-page > .add-profile > .error {
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    color: var(--error-font);
    margin-top: 4px;
    padding: 9px 12px;
    border-radius: 10px;
    border: 1px solid var(--error-border);
    background-color: var(--error-background);
}
