.downloads-page {
    display: grid;
    gap: 40px;
}

.downloads-page > .queue-list > .media-list {
    margin: 0;
}

.downloads-page > .queue-list > .media-list .media-item {
    user-select: none;
    cursor: unset;
    background-color: unset;
}

.downloads-page > .queue-list > .media-list .media-item > .media-thumbnail > .thumbnail {
    filter: grayscale(0.8) brightness(0.8);
    opacity: 0.6;
}

.downloads-page > .queue-list > .media-list .media-item > .media-details {
    opacity: 0.6;
}

.downloads-page > .queue-list > .media-list .media-item > .media-thumbnail > .media-indicators {
    backdrop-filter: unset;
}

.downloads-page > .queue-list > .media-list .media-item > .media-thumbnail > .media-indicators > .icon {
    cursor: pointer;
    transition: opacity 0.2s ease-out;
}

.downloads-page > .queue-list > .media-list .media-item > .media-thumbnail > .media-indicators > .icon.remove {
    color: var(--font-color-active);
}

.downloads-page > .queue-list > .media-list .media-item > .media-thumbnail > .media-indicators > .icon.remove:hover {
    opacity: 0.7;
}
