.media-info {
    margin-bottom: 20px;
}

.media-info > .media-header {
    position: relative;
    color: var(--font-color-inverted);
    margin: -24px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}

.media-info > .media-header > .backdrop-container {
    position: relative;
    width: 100%;
    height: 70dvh;
    overflow: hidden;
}

.media-info > .media-header > .backdrop-container > .backdrop {
    width: 100%;
    height: 100%;
}

.media-info > .media-header > .backdrop-container > .backdrop > .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-info > .media-header > .banner-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px;
    padding-top: 120px;
    padding-bottom: 16px;
    backdrop-filter: blur(4px);
    mask-image: linear-gradient(to top, #000000 50%, transparent 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 50%, transparent 100%);
}

.media-info > .media-header > .banner-content:has(> .progress-indicator) {
    padding-bottom: 20px;
}

.media-info > .media-header > .banner-content > .logo {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.media-info > .media-header > .banner-content > .logo:has(> .thumbnail) {
    margin-bottom: 16px;
}

.media-info > .media-header > .banner-content > .logo > .thumbnail {
    max-width: 360px;
    max-height: 120px;
    vertical-align: bottom;
}

.media-info > .media-header > .banner-content > .details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.media-info > .media-header > .banner-content > .details > .statistics {
    font-size: 0.85rem;
    opacity: 0.7;
    display: flex;
    align-items: center;
    gap: 16px;
}

.media-info > .media-header > .banner-content > .details > .statistics > .rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.media-info > .media-header > .banner-content > .details > .statistics > .rating > svg {
    color: #ffd700;
}

.media-info > .media-header > .banner-content > .details > .description {
    font-size: 0.8125rem;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-info > .media-header > .banner-content > .progress-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
    opacity: 0.9;
    background-color: rgba(255, 255, 255, 0.12);
    background: linear-gradient(
        to right,
        var(--brand-color) 0%,
        var(--brand-color) var(--progress-percent, 0%),
        rgba(255, 255, 255, 0.12) var(--progress-percent, 0%),
        rgba(255, 255, 255, 0.12) 100%
    );
}

.media-actions > .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.media-actions > .actions > .primary {
    display: flex;
    align-items: center;
    gap: 6px;
}

.media-actions > .actions > .primary > .play-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 6px;
}

.media-actions > .actions > .primary > .play-media > .container {
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
    padding: 6px 18px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    transition: background-color 0.2s ease-out;
}

.media-actions > .actions > .primary > .play-media:has(> .version-select) > .container {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.media-actions > .actions > .primary > .play-media > .container:hover {
    background-color: var(--bg-color-tertiary);
}

.media-actions > .actions > .primary > .play-media > .container > .play-icon {
    display: block;
    margin-left: -2px;
    margin-right: 6px;
    fill: var(--brand-color);
}

.media-actions > .actions > .primary > .play-media > .container > .text {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--brand-color);
}

.media-actions > .actions > .primary > .play-media > .version-select {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 6px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid var(--border-color);
    transition: background-color 0.2s ease-out;
}

.media-actions > .actions > .primary > .play-media > .version-select:hover {
    background-color: var(--bg-color-tertiary);
}

.media-actions > .actions > .primary > .play-media > .version-select > svg {
    color: var(--brand-color);
}

.media-actions > .actions > .primary > .icon {
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    transition: background-color 0.2s ease-out;
}

.media-actions > .actions > .primary > .icon:hover {
    background-color: var(--bg-color-tertiary);
}

.media-actions > .actions > .primary > .icon > svg {
    color: var(--brand-color);
}

.media-actions > .actions > .secondary {
    display: flex;
    align-items: center;
    gap: 8px;
}

.media-actions > .actions > .secondary > .more {
    cursor: pointer;
    padding: 7px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    transition: background-color 0.2s ease-out;
}

.media-actions > .actions > .secondary > .more:hover {
    background-color: var(--bg-color-tertiary);
}

.media-actions > .actions > .secondary > .more.active {
    background-color: var(--bg-color-tertiary);
}

.media-actions > .actions > .secondary > .more > svg {
    fill: var(--brand-color);
}
