.media-info {
}

.media-info > .media-header {
    position: relative;
    margin: -23px;
    color: #ffffff;
}

.media-info > .media-header > .backdrop-container {
    position: relative;
    width: 100%;
    height: 60dvh;
    overflow: hidden;
}

.media-info > .media-header > .backdrop-container > .backdrop {
    width: 100%;
    height: 100%;
}

.media-info > .media-header > .backdrop-container > .backdrop > .thumbnail {
    width: 100%;
    height: 100%;
}

.media-info > .media-header > .media-content {
    position: relative;
    z-index: 1;
    margin-top: -136px;
    padding: 24px;
    padding-top: 48px;
    backdrop-filter: blur(8px);
    mask-image: linear-gradient(to top, black 48%, transparent 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 36%, transparent 100%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 36%, transparent 100%);
}

.media-info > .media-header > .media-content > .logo {
    font-size: 1.25rem;
    font-weight: 700;
}

.media-info > .media-header > .media-content > .split {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.media-info > .media-header > .media-content > .split > .details > .statistics {
    display: flex;
    align-items: center;
    gap: 10px;
}

.media-info > .media-header > .media-content > .split > .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 12px;
}

.media-info > .media-header > .media-content > .split > .actions > .primary {
    display: flex;
    align-items: center;
    gap: 12px;
}

.media-info > .media-header > .media-content > .split > .actions > .primary > .play-media {
    display: flex;
    cursor: pointer;
    padding: 6px 14px;
    border-radius: 6px;
    background-color: var(--bg-color-secondary);
    transition: background-color 0.2s ease-out;
}

.media-info > .media-header > .media-content > .split > .actions > .primary > .play-media:hover {
    background-color: var(--bg-color-tertiary);
}

.media-info > .media-header > .media-content > .split > .actions > .primary > .play-media > .play-icon {
    display: block;
    margin-right: 6px;
    fill: var(--brand-color);
}

.media-info > .media-header > .media-content > .split > .actions > .primary > .play-media > .text {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--brand-color);
}

.media-info > .media-header > .media-content > .split > .actions > .primary > .favorite-state {
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    background-color: var(--bg-color-secondary);
    transition: background-color 0.2s ease-out;
}

.media-info > .media-header > .media-content > .split > .actions > .primary > .favorite-state:hover {
    background-color: var(--bg-color-tertiary);
}

.media-info > .media-header > .media-content > .split > .actions > .primary > .favorite-state > svg {
    color: var(--brand-color);
}

.media-info > .media-header > .media-content > .split > .actions > .secondary {
    display: flex;
    align-items: center;
    gap: 12px;
}

.media-info > .media-header > .media-content > .split > .actions > .secondary > .more {
    cursor: pointer;
    padding: 7px;
    border-radius: 20px;
    background-color: var(--bg-color-secondary);
    transition: background-color 0.2s ease-out;
}

.media-info > .media-header > .media-content > .split > .actions > .secondary > .more:hover {
    background-color: var(--bg-color-tertiary);
}

.media-info > .media-header > .media-content > .split > .actions > .secondary > .more.active {
    background-color: var(--bg-color-tertiary);
}

.media-info > .media-header > .media-content > .split > .actions > .secondary > .more > svg {
    fill: var(--brand-color);
}
