.media-list {
    list-style: none;
    padding: 0;
    margin-bottom: -4px;
}

.media-list .media-item {
    position: relative;
    max-width: 152px;
    cursor: pointer;
}

.media-list .media-item > .media-portrait {
    position: relative;
    width: 152px;
    height: 228px;
    margin-bottom: 8px;
    border-radius: 8px;
}

.media-list .media-item > .media-portrait > .thumbnail {
    display: block;
    width: 152px;
    height: 228px;
    object-fit: cover;
    border-radius: 8px;
    background-color: var(--bg-color-secondary);
}

.media-list .media-item > .media-portrait > .media-indicators {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 4px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.media-list .media-item > .media-portrait > .media-indicators > .download-state {
    display: flex;
    align-items: center;
}

.media-list .media-item > .media-portrait > .media-indicators > .download-state > .icon {
    padding: 6px;
    fill: var(--font-color-tertiary);
    fill: white;
    transition: fill 0.2s ease-out;
}

.media-list
    .media-item
    > .media-portrait
    > .media-indicators
    > .download-state
    > .icon.downloading.active-sync
    > svg
    path:last-child {
    clip-path: inset(100% 0 0 0);
    animation: syncColorSweepML 1.6s linear infinite;
}

@keyframes syncColorSweepML {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    50% {
        clip-path: inset(0% 0 0 0);
    }
    100% {
        clip-path: inset(100% 0 0 0);
    }
}

.media-list .media-item > .media-portrait > .media-indicators > .favorited {
    padding: 6px;
    color: var(--font-color-tertiary);
    color: var(--brand-color);
}

/*
.media-list .media-item > .media-portrait > .overlay {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: var(--overlay-bg);
    transition: opacity 0.32s cubic-bezier(0.33, 0, 0.2, 1), visibility 0.32s cubic-bezier(0.33, 0, 0.2, 1);
}

.media-list .media-item:hover > .media-portrait > .overlay {
    opacity: 1;
    visibility: visible;
}

.media-list .media-item > .media-portrait > .overlay > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.media-list .media-item > .media-portrait > .overlay > .play {
    cursor: pointer;
    transition: opacity 0.32s cubic-bezier(0.33, 0, 0.2, 1), visibility 0.32s cubic-bezier(0.33, 0, 0.2, 1),
        transform 0.32s cubic-bezier(0.33, 0, 0.2, 1);
}

.media-list .media-item:hover > .media-portrait > .overlay > .play {
    transform: scale(1.2);
}

.media-list .media-item > .media-portrait > .overlay > .play > .heroicons {
    width: 40px;
    height: 40px;
}
*/

.media-list .media-item > .media-details {
    display: flex;
    flex-direction: column;
    margin: 0 2px;
}

.media-list .media-item > .media-details > .name {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.media-list .media-item > .media-details > .date {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--font-color-tertiary);
}
