.search-results-page > .search-content > .section {
    margin-bottom: 40px;
}

.search-results-page > .search-content > .section.movies,
.search-results-page > .search-content > .section.series,
.search-results-page > .search-content > .section.episodes,
.search-results-page > .search-content > .section.collections {
    margin-top: -4px;
}

.search-results-page > .search-content > .section > .view-all {
    font-size: 0.725rem;
    font-weight: 500;
    text-align: right;
    margin-top: 10px;
}

.search-results-page > .search-content > .section > .view-all > a.textlink {
    color: var(--font-color-tertiary);
}

.search-results-page > .search-content > .section:last-of-type {
    margin-bottom: 0;
}

.search-results-page > .search-content > .section > .title {
    font-size: 0.95rem;
    font-weight: 700;
    margin-bottom: 6px;
}
