.skeleton-loading {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skeleton-loading.landscape.skeleton-loading.continue-watching {
    max-width: 280px;
    margin-right: 24px;
}

.skeleton-effect {
    background-image: linear-gradient(
        90deg,
        var(--bg-color-secondary) 0%,
        var(--bg-color-tertiary) 20%,
        var(--bg-color-secondary) 40%
    );
    background-size: 200%;
    background-color: var(--bg-color-secondary);
    animation: skeleton-shine 1.6s infinite ease-out;
}

.skeleton-loading > .skeleton-effect.thumbnail {
    margin-bottom: 8px;
    border-radius: 8px;
}

.skeleton-loading.portrait > .skeleton-effect.thumbnail {
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 3;
}

.skeleton-loading.landscape > .skeleton-effect.thumbnail {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
}

.skeleton-loading.square > .skeleton-effect.thumbnail {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
}

.skeleton-loading.continue-watching > .skeleton-effect.thumbnail {
    width: 280px;
    height: 158px;
}

.skeleton-loading > .skeleton-details {
    display: flex;
    flex-direction: column;
    width: calc(100% - 4px);
    margin: 0 2px;
}

.skeleton-loading > .skeleton-details > .skeleton-effect.title {
    width: 100%;
    height: 16px;
    margin-bottom: 4px;
    border-radius: 5px;
}

.skeleton-loading.square > .skeleton-details > .skeleton-effect.title {
    height: 14px;
}

.skeleton-loading > .skeleton-details > .skeleton-effect.subtitle {
    width: 40%;
    height: 14px;
    border-radius: 4px;
}

.skeleton-loading.square > .skeleton-details > .skeleton-effect.subtitle {
    height: 12px;
}

@keyframes skeleton-shine {
    0% {
        background-position: 100%;
    }
    40%,
    100% {
        background-position: -100%;
    }
}
