/* Full normal variable Inter font with all axes included */
@import '@fontsource-variable/inter/standard.css';

/* Full italic variable Inter font with all axes included */
@import '@fontsource-variable/inter/standard-italic.css';

/* MISC changes to base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a.textlink {
    color: var(--link-color);
    outline: none;
    text-decoration: none;
}

a.textlink:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}

img[alt] {
    font-size: 0.5rem;
}

.fallback-thumbnail {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-secondary);
}

select {
    font-family: var(--system-fonts);
    font-family: var(--inter-font);
    color: var(--font-color);
    user-select: none;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background-color: var(--bg-color);
}

textarea,
button,
label,
input,
input:focus,
input:active,
input[type='text'],
input[type='password'],
input[type='button'],
input[type='submit'],
input[type='number'],
input[type='email'],
input[type='file'],
input[type='search'],
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    resize: none;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: var(--system-fonts);
    font-family: var(--inter-font);
    color: var(--font-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    font-family: var(--system-fonts);
    font-family: var(--inter-font);
    font-weight: 400;
    font-size: 0.75rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--font-color);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--bg-color);
}

input::placeholder {
    color: var(--font-color-tertiary);
}

/*
button:disabled {
    opacity: 0.3;
}

button:hover:disabled {
    background-color: unset;
}

button:active:disabled {
    opacity: unset;
}

:disabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.disabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
*/

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg {
    display: block;
}

/* CSS Variables */
:root {
    --system-fonts: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --inter-font: 'Inter Variable', sans-serif;
}

html {
    --system-fonts: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
    --inter-font: 'Inter Variable', sans-serif;
}

/* Site Theme */
html.light {
    color-scheme: light;
    --bg-color: #ffffff;
    --bg-color-secondary: #f8f8f8;
    --bg-color-tertiary: #ececec;
    --bg-color-quaternary: #bbbbbb; /* Not Used */
    --bg-color-transparent: rgba(255, 255, 255, 0.4);
    --font-color: #303030;
    --font-color-secondary: #555555;
    --font-color-tertiary: #767676;
    --font-color-inverted: #ffffff;
    --font-color-active: #000000;
    --font-color-error: #e95151;
    --font-color-error-light: #e64e4e;
    --border-color: #ececec;
    --border-color-secondary: #d6d6d6;
    --link-color: #a386e7;
    --link-color-active: #b5a1e7; /* Not Used */
    --error-font: #f15a5a;
    --error-border: #ffd6d6;
    --error-background: #fff0f0;
    --error-background-hover: #ffe4e4;
    --brand-color: #947bee;
    --btn-brand-color: #b282e9;
    --btn-brand-color-hover: #9470e9;
    --btn-brand-color-disabled: #caa5f0;
    --success-color: #2da825;
    --overlay-bg: rgb(0 0 0 / 25%); /* Not used */
    --bg-color-dimmer: rgba(22, 11, 37, 0.4);
    --volume-dot-color: #bbbbbb; /* Not used */
    --volume-dot-color-active: #a1a1a1; /* Not used */
    --scrollbar-color: #a8a8a8;
    --scrollbar-color-hover: #8a8a8a;
    --dropdown-shadow: 0 0 4px rgba(0, 0, 0, 0.04);
}

html.dark {
    color-scheme: dark;
    --bg-color: #111111;
    --bg-color-secondary: #161616;
    --bg-color-tertiary: #222222;
    --bg-color-quaternary: #414141; /* Not Used */
    --bg-color-transparent: rgba(17, 17, 17, 0.6);
    --font-color: #dfdde4;
    --font-color-secondary: #bbb9c0;
    --font-color-tertiary: #9b999e;
    --font-color-inverted: #ffffff;
    --font-color-active: #ffffff;
    --font-color-error: #cc3a3a;
    --font-color-error-light: #e45353;
    --border-color: #1f1f1f;
    --border-color-secondary: #303030;
    --link-color: #9e7de9;
    --link-color-active: #af9cdf; /* Not Used */
    --error-font: #f76565;
    --error-border: #80241b;
    --error-background: #220f0c;
    --error-background-hover: #301815;
    --brand-color: #a381f3;
    --btn-brand-color: #834ec0;
    --btn-brand-color-hover: #9e53f3;
    --btn-brand-color-disabled: #b487e7;
    --success-color: #48ed3c;
    --overlay-bg: rgb(0 0 0 / 40%); /* Not used */
    --bg-color-dimmer: rgba(7, 3, 12, 0.6);
    --volume-dot-color: #87868a; /* Not used */
    --volume-dot-color-active: #c4c1c7; /* Not used */
    --scrollbar-color: #78767c;
    --scrollbar-color-hover: #aba9af;
    --dropdown-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

html:has(> body > #root > .video-app > .interface) {
    background-color: var(--bg-color);
}

html,
body {
    font-family: var(--system-fonts);
    font-family: var(--inter-font);
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin-right: calc(-1 * (100vw - 100%)) !important;
    width: auto;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

/* Isolate volume scroll
body.lockscroll {
    overflow: hidden !important;
}
*/

#root {
    height: 100%;
}

/* Video App */
.video-app {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100%;
}

.video-app:has(.login) {
    fill: var(--font-color);
    color: var(--font-color);
    background-color: var(--bg-color-secondary);
}

/* Interface */
.interface {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    fill: var(--font-color);
    color: var(--font-color);
    background-color: var(--bg-color);
}

/* Login/Portal Page */
.login {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    width: 360px;
    max-width: 100%;
    min-height: 100%;
}

.login > .login_header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.login > .login_header_spacer {
    flex: 1;
    max-height: 80px;
}

.login > .login_header > .logo {
    display: block;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/logo.webp);
}

.login > .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.login > .login_form > .error_placeholder {
    position: relative;
    height: 110px;
    max-width: 260px;
}

.login > .login_form > .error_placeholder > .error {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--error-font);
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid var(--error-border);
    background-color: var(--error-background);
}

.login > .login_form > .title {
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.login > .login_form > .input_container {
    position: relative;
    display: flex;
    align-items: center;
    width: 260px;
    max-width: 100%;
    margin-bottom: 10px;
}

.login > .login_form > .input_container > input {
    font-size: 0.75rem;
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    outline: 1px solid var(--border-color);
    text-overflow: ellipsis;
}

.login > .login_form > .submit_button {
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--font-color-inverted);
    width: 260px;
    max-width: 100%;
    padding: 9px 12px;
    border-radius: 8px;
    margin-top: 4px;
    background-color: var(--btn-brand-color);
    transition: background-color 0.2s ease-out;
}

.login > .login_form button:hover:not(:disabled) {
    background-color: var(--btn-brand-color-hover);
}

.login > .login_form button:disabled {
    background-color: var(--btn-brand-color-disabled);
    cursor: not-allowed;
}

.login > .disclaimer {
    margin-top: auto;
    padding: 12px 20px;
    font-size: 0.725rem;
    font-weight: 300;
    color: var(--font-color-tertiary);
    text-align: center;
}

.dimmer {
    display: none;
}

/* Main */
.main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(100% - 210px);
    transition: filter 0.2s ease;
}

.main > .main_header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    max-height: 53px;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--border-color);
}

.main > .main_header > .primary {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: calc(100% - 30px);
}

.main > .main_header > .primary > .container {
    position: relative;
    max-width: calc(100% - 20px);
}

.main > .main_header:has(.sorting > .sort) > .primary {
    max-width: calc(100% - 160px);
}

.main > .main_header:has(.sorting > .sort):has(.sorting.links > .filter) > .primary {
    max-width: calc(100% - 270px);
}

.main > .main_header > .primary > .return_icon {
    cursor: pointer;
    padding: 6px;
    margin-right: 10px;
    border-radius: 20px;
    transition: background-color 0.2s ease-out;
}

.main > .main_header > .primary > .return_icon:hover {
    background-color: var(--bg-color-tertiary);
}

.main > .main_header > .primary > .container > .page_title {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.main > .main_header > .primary > .container > .page_title > .text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* Help with CJK letter spacing */
    line-height: 1.25rem;
}

.main > .main_header > .secondary {
    display: flex;
    align-items: center;
    gap: 12px;
}

.main > .main_header > .secondary > .sorting {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
}

.main > .main_header > .secondary > .sorting > .filter {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.main > .main_header > .secondary > .sorting.links > .filter > .responsive-icon {
    display: none;
}

.main > .main_header > .secondary > .sorting > .filter > select {
    font-size: 0.725rem;
    font-weight: 500;
    color: var(--brand-color);
    cursor: pointer;
    padding: 6px 8px;
    padding-right: 24px;
}

.main > .main_header > .secondary > .sorting > .filter > .icon {
    position: absolute;
    right: 6px;
    color: var(--brand-color);
    user-select: none;
    pointer-events: none;
}

.main > .main_header > .secondary > .sorting > .filter > select > option {
    font-weight: 500;
    color: var(--font-color);
}

.main > .main_header > .secondary > .sorting > .sort {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-left: 1px solid var(--border-color);
    cursor: pointer;
}

.main > .main_header > .secondary > .sorting > .sort > .icon {
    padding: 7px;
}

.main > .main_header > .secondary > .sorting > .sort > .icon > svg {
    fill: var(--brand-color);
}

.main > .main_header > .secondary > .sorting > .sort > .icon > svg > g > .arrow {
    transition: opacity 0.2s ease-out;
}

.main > .main_header > .secondary > .sorting > .sort > .icon > svg > g > .arrow.down {
    opacity: 0.4;
}

/* Ascending */
.main > .main_header > .secondary > .sorting > .sort > .icon.active > svg > g > .arrow.down {
    opacity: 1;
}

.main > .main_header > .secondary > .sorting > .sort > .icon.active > svg > g > .arrow.up {
    opacity: 0.4;
}

.main > .main_header > .secondary > .sidenav_toggle {
    display: none;
}

.main > .main_content {
    display: flex;
    flex-direction: column;
    margin: 24px;
    margin-bottom: 60px;
}

.main_content:has(.media-page > .media-footer) {
    height: 100%;
    margin-bottom: 12px;
}

.main > .main_content .empty {
    font-size: 0.85rem;
    margin-top: -4px;
}

.main > .main_content .error {
    font-size: 0.85rem;
    color: var(--font-color-error);
    margin-top: -4px;
}

/* Genric page styles */
.home-page {
    margin-top: -8px;
}

.search-results-page {
    margin-top: -4px;
}

.person-page {
    margin-top: -4px;
}

.home-page > .section,
.search-results-page > .section,
.person-page > .section {
    margin-bottom: 60px;
}

.home-page > .section.continue-watching {
    margin-bottom: 40px;
}

.home-page > .section:last-of-type,
.search-results-page > .section:last-of-type,
.person-page > .section:last-of-type {
    margin-bottom: 0;
}

.home-page > .section > .container,
.search-results-page > .section > .container,
.person-page > .section > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 14px;
}

.home-page > .section > .container > .title,
.search-results-page > .section > .container > .title,
.person-page > .section > .container > .title {
    font-size: 1rem;
    font-weight: 700;
}

.home-page > .section > .container > .see-more,
.search-results-page > .section > .container > .see-more {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--brand-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px 11px;
    border-radius: 6px;
    background-color: var(--bg-color-secondary);
    transition: background-color 0.2s ease-out;
}

.home-page > .section > .container > .see-more:hover,
.search-results-page > .section > .container > .see-more:hover {
    background-color: var(--bg-color-tertiary);
}

/* Scroller for continue-watching */
.home-page > .section > .scroller {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.home-page > .section > .scroller > .direction {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 30px;
    height: 100%;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.2s ease-out,
        visibility 0.2s ease-out;
}

.home-page > .section > .scroller > .direction.visible {
    opacity: 1;
    visibility: visible;
}

.home-page > .section > .scroller > .direction.left {
    left: 0;
}

.home-page > .section > .scroller > .direction.left::before {
    content: '';
    position: absolute;
    left: 0;
    width: 60px;
    height: 100%;
    pointer-events: none;
    backdrop-filter: blur(2px);
    mask-image: linear-gradient(to right, #000000 30%, transparent 100%);
    background: linear-gradient(to right, var(--bg-color) 0%, var(--bg-color-transparent) 30%, transparent 100%);
}

.home-page > .section > .scroller > .direction.right {
    right: 0;
    justify-content: end;
}

.home-page > .section > .scroller > .direction.right::after {
    content: '';
    position: absolute;
    right: 0;
    width: 60px;
    height: 100%;
    pointer-events: none;
    backdrop-filter: blur(2px);
    mask-image: linear-gradient(to left, #000000 30%, transparent 100%);
    background: linear-gradient(to left, var(--bg-color) 0%, var(--bg-color-transparent) 30%, transparent 100%);
}

.home-page > .section > .scroller > .direction > .icon {
    z-index: 1;
    width: 30px;
    height: 100%;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    fill: var(--font-color-active);
}

.home-page > .section > .scroller > .direction > .icon > svg {
    flex-shrink: 0;
    margin-top: -36px;
    transition: transform 0.2s cubic-bezier(0.33, 0, 0.2, 1);
}

.home-page > .section > .scroller > .direction.left > .icon > svg {
    margin-left: -6px;
}

.home-page > .section > .scroller > .direction.left > .icon:active > svg {
    transform: translateX(-2px);
}

.home-page > .section > .scroller > .direction.right > .icon:active > svg {
    transform: translateX(2px);
}

/* Responsive */
@media only screen and (max-width: 980px) {
    body.lockscroll,
    body:has(.sidenav_wrapper.active) {
        overflow: hidden !important;
    }

    body {
        margin-right: unset !important;
        width: 100%;
    }

    .main {
        max-width: 100%;
    }

    .main > .main_header > .primary > .container {
        max-width: calc(100% - 50px);
    }

    .main > .main_header > .secondary > .sidenav_toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        width: 28px;
        height: 28px;
        border-radius: 20px;
        transition: background-color 0.2s ease-out;
    }

    .main > .main_header > .secondary > .sidenav_toggle:hover {
        background-color: var(--bg-color-tertiary);
    }

    .main > .main_header > .secondary > .sidenav_toggle > .bar {
        height: 2px;
        width: 12px;
        /* Force pixel alignment, on some devices the bars are uneven... subpixel rendering */
        will-change: transform;
        transform: translateZ(0);
        border-radius: 2px;
        background-color: var(--font-color);
    }

    .dimmer {
        display: block;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: visible;
        opacity: 0;
        visibility: hidden;
        background-color: var(--bg-color-dimmer);
        transition:
            opacity 0.2s ease,
            visibility 0.2s ease;
    }

    .dimmer.active {
        opacity: 1;
        visibility: visible;
    }

    .dimmer.active ~ .main {
        filter: blur(16px);
    }
}
