* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-container {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    fill: #ffffff;
    color: #ffffff;
}

/* temp */
.no-video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1000;
}

.open-file-btn {
    background: blue;
    border: none;
    border-radius: 12px;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.video-container > .video-header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 14px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    transform: translateY(0);
    transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.33, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.33, 0, 0.2, 1);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 70%, transparent 100%);
}

.video-container > .video-header.hidden {
    user-select: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
}

.video-container > .video-header > .return {
    position: relative;
    cursor: pointer;
    padding: 6px;
    margin-right: 12px;
    border-radius: 20px;
    transition: background-color 0.2s ease-in;
}

.video-container > .video-header > .return:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.video-container > .video-header > .video-title {
    font-size: 1rem;
    font-weight: 500;
    user-select: none;
}

.video-container > .video-play-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    pointer-events: none;
    transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.video-container.playing > .video-play-icon {
    opacity: 0;
    visibility: hidden;
}

.video-container > .video-play-icon > .heroicons {
    width: 54px;
    height: 54px;
    transform: scale(1.2);
    transition: transform 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.video-container.playing > .video-play-icon > .heroicons {
    transform: scale(1);
}

.video-container > .video-controls {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 14px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateY(0);
    transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.33, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.33, 0, 0.2, 1);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.4) 70%, transparent 100%);
}

.video-container > .video-controls.hidden {
    user-select: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
}

.video-container > .video-controls.visible {
}

.video-container > .video-controls .controls-tooltip {
    font-size: 0.725rem;
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 10px;
    width: fit-content;
    padding: 3px 5px;
    border-radius: 4px;
    user-select: none;
    pointer-events: none;
    background-color: rgba(46, 46, 46, 0.8);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(0);
    transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.33, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.video-container > .video-controls *:hover > .controls-tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-10px);
}

.video-container > .video-controls .controls-btn {
    position: relative;
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    background-color: transparent;
    transition: background-color 0.2s ease-in;
}

.video-container > .video-controls .controls-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.video-container > .video-controls > .playback {
    display: flex;
}

.video-container > .video-controls > .progress {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.video-container > .video-controls > .progress > .time {
    font-size: 0.8rem;
    font-weight: 500;
    font-variant-numeric: tabular-nums;
}

.video-container > .video-controls > .progress > .progress-container {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}

.video-container > .video-controls > .progress > .progress-container > .progress-bar {
    position: relative;
    cursor: pointer;
    flex: 1;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
}

.video-container > .video-controls > .progress > .progress-container > .progress-bar::-webkit-slider-thumb {
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in;
}

.video-container > .video-controls > .progress > .progress-container > .progress-bar::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

.video-container > .video-controls > .progress > .progress-container > .progress-bar::-moz-range-thumb {
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in;
}

.video-container > .video-controls > .progress > .progress-container > .progress-bar::-moz-range-thumb:hover {
    transform: scale(1.2);
}

.video-container > .video-controls > .volume {
    display: flex;
    align-items: center;
    gap: 4px;
}

.video-container > .video-controls > .volume > .volume-container {
    position: relative;
    width: 100px;
    display: flex;
    align-items: center;
}

.video-container > .video-controls > .volume > .volume-container > .volume-bar {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.2);
}

.video-container > .video-controls > .volume > .volume-container > .volume-bar::-webkit-slider-thumb {
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.2s ease-in;
}

.video-container > .video-controls > .volume > .volume-container > .volume-bar::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

.video-container > .video-controls > .volume > .volume-container > .volume-bar::-moz-range-thumb {
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.2s ease-in;
}

.video-container > .video-controls > .volume > .volume-container > .volume-bar::-moz-range-thumb:hover {
    transform: scale(1.2);
}

.video-container > .video-controls > .volume > .volume-container > .volume-indicator {
    font-variant-numeric: tabular-nums;
}

.video-container > .video-controls > .actions {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 6px;
}

.video-container > .video-controls > .actions > .video-menu {
    position: relative;
}

.video-container > .video-controls > .actions > .video-menu > .menu-toggle > svg {
    transition: transform 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.video-container > .video-controls > .actions > .video-menu > .menu-toggle.active > svg {
    transform: rotate(180deg);
}

.video-container > .video-controls > .actions > .video-menu > .menu-container {
    position: absolute;
    z-index: 2;
    bottom: 34px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 6px;
    min-width: 180px;
    border-radius: 12px;
    background-color: rgba(46, 46, 46, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s cubic-bezier(0.33, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.33, 0, 0.2, 1),
        transform 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

.video-container > .video-controls > .actions > .video-menu > .menu-toggle.active ~ .menu-container {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}

.video-container > .video-controls > .actions > .video-menu > .menu-container > .menu-item {
    font-size: 0.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 7px 10px;
    border-radius: 8px;
    transition: background-color 0.2s ease-in;
}

.video-container > .video-controls > .actions > .video-menu > .menu-container > .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.video-container > .video-controls > .actions > .video-menu > .menu-container > .menu-item > .heroicons {
    width: 16px;
    height: 16px;
    margin-right: -4px;
}

.speed-control,
.subtitle-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

.speed-dropdown,
.subtitle-dropdown {
    border: none;
    border-radius: 6px;
    padding: 0 4px;
    font-size: 12px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
}
