name: Build and Release

on:
    workflow_dispatch:
    release:
        types: [published] # Only runs when a release is published

permissions:
    contents: write # Required to upload assets to the release

jobs:
    build-tauri:
        strategy:
            fail-fast: false
            matrix:
                include:
                    - platform: 'macos-latest'
                      args: '--target aarch64-apple-darwin'
                    - platform: 'macos-latest'
                      args: '--target x86_64-apple-darwin'
                    - platform: 'ubuntu-22.04'
                      args: ''
                    - platform: 'windows-latest'
                      args: ''

        runs-on: ${{ matrix.platform }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Install Yarn
              run: npm install --global yarn

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: 'yarn'

            - name: Install Rust stable
              uses: dtolnay/rust-toolchain@stable
              with:
                  targets: ${{ matrix.platform == 'macos-latest' && 'aarch64-apple-darwin,x86_64-apple-darwin' || '' }}

            - name: Install dependencies (Ubuntu only)
              if: matrix.platform == 'ubuntu-22.04'
              run: |
                  sudo apt-get update
                  sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf libmpv-dev

            - name: Install frontend dependencies
              run: yarn install

            - name: Build Tauri app
              uses: tauri-apps/tauri-action@v0
              with:
                  args: ${{ matrix.args }}

            - name: Upload Release Assets
              uses: jaywcjlove/github-action-upload-assets@main
              with:
                  tag: ${{ github.event.release.tag_name }}
                  asset-path: '["src-tauri/target/release/bundle/**/*"]'
